POSTGRES_DB=restaurant_db
POSTGRES_USER=restaurant
POSTGRES_PASSWORD=change-this-postgres-password
POSTGRES_PORT=5432
REDIS_PORT=6379

DATABASE_URL="postgresql://postgres:123456@host.docker.internal:5432/restaurant_db?schema=public"
DOCKER_DATABASE_URL="postgresql://postgres:123456@host.docker.internal:5432/restaurant_db?schema=public"

JWT_SECRET=change-this-jwt-secret-with-a-long-random-value
JWT_REFRESH_SECRET=change-this-refresh-secret-with-a-long-random-value
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d

CUSTOMER_APP_URL=http://localhost:3001
NEXT_PUBLIC_SOCKET_URL=http://localhost:4000
NEXT_PUBLIC_CUSTOMER_APP_PORT=3001
