DATABASE_URL="postgresql://postgres:123456@host.docker.internal:5432/restaurant_db?schema=public"
DOCKER_DATABASE_URL="postgresql://postgres:123456@host.docker.internal:5432/restaurant_db?schema=public"
REDIS_URL=redis://redis:6379
NODE_ENV=production
